h1 {
    padding: 80px;
}


.card {
  max-width: 900px;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 14px;
  border: 1px solid #e2e8f0;
  margin-bottom: 80px;
}

.con {
  padding: 35px 40px;
}

.con p {
  font-size: 18px;
  line-height: 1.8;
  color: #334155;
  margin-bottom: 18px;
}