.home{
    padding: 60px 90px;
}
.qCon {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 10px;
}

.q {
  background: #f3f1f1;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid #e2e8f0;
}

.q:hover {
  border-color: #7291b8;
  transform: translateY(-2px);
}

.q h4 {
  margin: 0;
  color: #1e293b;
  font-size: 18px;
  font-weight: 600;
}

.q p {
  margin: 6px 0;
  color: #475569;
  font-size: 17px;
  line-height: 1.4;
}

.tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 8px;
}

.tag {
  background: #c1cad0;
  color: #135f86;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 6px;
  border: 1px solid #e4ecf0;
  transition: 0.2s;
}


.delete {
  display: inline-block;
  margin-left: 1200px;
}

.delete button {
  padding: 12px 18px;
  border-radius: 8px;
  border: none;
  background: #2563eb;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}