.solution {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.solutionForm {
  background-color: #e4e2f5;
  padding: 32px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.solutionForm h2 {
  text-align: center;
  font-size: 24px;
  color: black;
}
.solutionForm textarea {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.submitButton {
  padding: 10px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}
.solutionButton:hover {
  background-color: #1e40af;
}